//- GASを変更したら、再度デプロイして保存しないと適用されない！！
//- くじを追加する
.postContainer.input
  .container
    form(method="POST" action="https://script.google.com/macros/s/AKfycbyKL5CXWiBE1vm31Z2o922KSsidt2MWQaJN9iMvhLmk_R9OfI6ACa2xoSU86_jgSYQM/exec")#form
      input(type="hidden" name="kind" value="get_alldata")
      input(type="hidden" name="post_user" value="megumi")
      input(type="hidden" name="box_no" value="" id="boxId")

      .inputContainer
        //- 箱ボタン領域
        .boxesArea.-selectable#selectableBoxes
        //- 選択中の箱
        ul.boxImage#boxImage
          li.front
            span.no
            span.name
            p.percent
              span.unselected
              span.allCnt
          li
          li
          li
          li
          li
        //- 送信するテキスト
        dl.rowText(style="display: none;")
          dt: label(for="postText") TEXT
          dd: textarea(name="post_text")#postText
        //- 送信ボタン
        button(type="button").btn#sendBtn GET DATA!!!!!
        //- 結果領域
        p.result#result

      //- ログ
      #logAddArea(style="display: none;")
        dl.logTtl
          dt.no BOX
          dd.time TIME
          dd.text TEXT OF LOTS
        dl.logArea#logAdd
      #logDrawArea(style="display: none;")
        dl.logTtl
          dt.no BOX
          dd.time TIME
          dd.text TEXT OF LOTS
        dl.logArea#logDraw

      //- 取得したデータ
      #AllLotsData
        p.tableName#tableName
          span.no(style="color: #ffde05;") 1
          span.name はこのなまえ１
        table.tableData
          thead
            tr
              th.time 登録時間
              th.user 登録ユーザー
              th.text 登録内容
              th.draw 引いたユーザー
          tbody#tableBody
            tr.-drawn
              td.time 2022/07/21 2:26:32
              td.user megumi
              td.text くじのてきすと
              td.draw meg
            tr
              td.time 2022/07/21 13:26:32
              td.user megumi
              td.text くじのてきすと
              td.draw
            tr.-drawn
              td.time 2022/08/25 12:21:22
              td.user meg
              td.text ぷぷぷぷぷぷぷっぷぷぷぷぷぷぷぷぷぷぷぷぷぷうぷ
              td.draw meg

    button(type="button").btn.-back#backToMenu
      span.arrow
      | BACK to MENU
