//- 箱名称の変更
.postContainer.input
  .container
    form(method="POST" action="https://script.google.com/macros/s/AKfycbyKL5CXWiBE1vm31Z2o922KSsidt2MWQaJN9iMvhLmk_R9OfI6ACa2xoSU86_jgSYQM/exec")#form
      input(type="hidden" name="kind" value="update_info")
      input(type="hidden" name="post_user" value="megumi")
      .inputContainer
        dl.rowSelect
          dt: label(for="boxNo") LOTTERY BOX
          dd
            select#boxNo(name="box_no")
        ul.boxImage#boxImage
          li.front
            span.no
            span.name
          li
          li
          li
          li
          li
        dl.rowButton
          dt: label(for="postText") NEW NAME OF BOX
          dd: input(type="text" name="post_text")#postText
        button(type="button").btn#sendBtn RENAME !
        p.result#result
